Options -Indexes
<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
  Header set Cache-Control "public, max-age=604800"
</IfModule>

# Autoriser l'accès aux fichiers PNG et SVG
<FilesMatch "\.(png|svg)$">
  Require all granted
</FilesMatch>
